html
	head
		title= "Language party!"
		
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css")
		link(rel="stylesheet", href="styles.css")

	body

		.container#heading
			.content
				h1= "Language party!"

		.container
			form#inputForm
				input.input.is-large#inputPhrase(type="text", placeholder="Start with an English phrase...", autocomplete="off")
			.clearfix
				.is-pulled-left
					| Find equilibrium between&nbsp;
					.control#sourceLanguageControl
						.select
							select#sourceLanguage
					| &nbsp;and&nbsp;
					.control#otherLanguageControl
						.select
							select#otherLanguage

				.is-pulled-right
					button.button.is-info#submit= "Find equilibrium!"

		.container
			#translationOutlet
		

		footer.footer
			.container
				.content.has-text-centered
					p
						| Created by 
						a(href="http://2kan.io/")= "Tom Penney"
						| &nbsp;with love. Available on 
						a(href="https://github.com/2kan/language-party")= "GitHub"
						| &nbsp;and licensed under the MIT License.


		script(src="/socket.io/socket.io.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script.
			var socket = io();
		
		script(src="/js/smoothscroll.js")
		script(src="/js/translate.js")